:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body{
  width: fit-content;
}

.mainNav{
  position: absolute;
  z-index: 99;
  background: #000;
  width: 100%;
  top: 50px;
  opacity: 0;
  transition: 0.8s ease-in-out;
  pointer-events: none;
  visibility: hidden;
}

.close{
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

.home{
  color: #2cbbaa;
}

.mainNav ol{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

a{
  text-decoration: none;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.071879386901855px;
  font-weight: 700;
  line-height: 21px;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 360px;
  height: 4277px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.ellipse {
  position: absolute;
  width: 607px;
  height: 265px;
  top: -32px;
  left: -123px;
  background: url(./assets/images/d7261580-8fef-4c0e-8b15-1c979a091348.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.global-nav-button {
  position: absolute;
  width: 2088px;
  height: 6224px;
  top: -20px;
  left: -20px;
  border: 1px dashed #9747ff;
  z-index: 6;
  overflow: hidden;
  border-radius: 5px;
}
.flex-row {
  position: relative;
  width: 2062px;
  height: 2396.526px;
  margin: 20px 0 0 20px;
  z-index: 85;
}
.global-nav-button-1 {
  position: absolute;
  width: 2048px;
  height: 2048px;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
.whatsapp-image {
  position: relative;
  width: 29.785px;
  height: 28.15px;
  margin: 12px 0 0 26px;
  background: url(./assets/images/e904fc9c-177c-4f18-9fe3-3beb48a5c1c8.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.vector {
  position: absolute;
  width: 27px;
  height: 41.931px;
  margin: -4.839px 0 0 308px;
  background: url(./assets/images/7c8f591d-4155-4a96-b734-90e35e3dc4b1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 40;
  top: -1px;
}
.vectorX {
  display: none;
  position: absolute;
  width: 27px;
  height: 41.931px;
  margin: -4.839px 0 0 308px;
  background: url(./assets/images/7c8f591d-4155-4a96-b734-90e35e3dc4b1.png)
    no-repeat center #000;
  background-size: 100% 100%;
  z-index: 40;
  top: -1px;
}

.text .vectorX{
  display: flex;
}

.text .vector{
  display: none;
}

.default {
  position: absolute;
  width: 2048px;
  height: 2048px;
  top: 0;
  left: 14px;
}
.innovation-creativity-fest {
  position: relative;
  width: 214.133px;
  height: 56px;
  margin: 56px 0 0 32px;
  font-family: Inter, var(--default-font-family);
  font-size: 24.4929256439209px;
  font-weight: 700;
  line-height: 27.922px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.86px;
  z-index: 9;
}
.innovation-and {
  position: relative;
  color: #2cbbaa;
  font-family: Inter, var(--default-font-family);
  font-size: 24.4929256439209px;
  font-weight: 700;
  line-height: 27.922px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.86px;
}
.line-break {
  position: relative;
  color: #2cbbaa;
  font-family: Inter, var(--default-font-family);
  font-size: 24.4929256439209px;
  font-weight: 700;
  line-height: 27.922px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -1.47px;
}
.creativity-fest {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 24.4929256439209px;
  font-weight: 700;
  line-height: 27.922px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.86px;
}
.bridging-art-science-technology {
  display: block;
  position: relative;
  height: 13px;
  margin: 0 0 0 32px;
  color: #ffffff;
  font-family: Jacques Francois, var(--default-font-family);
  font-size: 9.516497611999512px;
  font-weight: 400;
  line-height: 13px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.33px;
  z-index: 10;
}
.event-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 155px;
  height: 39px;
  margin: 0.48px 0 0 32px;
  color: #ffffff;
  font-family: Jacques Francois, var(--default-font-family);
  font-size: 9.516497611999512px;
  font-weight: 400;
  line-height: 13.468px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: -0.33px;
  z-index: 11;
  overflow: hidden;
}
.flex-row-ef {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 181px;
  height: 24.672px;
  margin: -0.48px 0 0 32px;
  z-index: 48;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 29px;
  height: 24.672px;
  z-index: 12;
  border-radius: 2.597px;
}
.group-2 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 5.22%;
  font-size: 0px;
  z-index: 13;
  border-radius: 2.597px;
}
.number {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.814px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 15;
}
.weeks {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 16;
}
.rectangle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 14;
  border-radius: 2.597px;
}
.group-3 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 17;
  border-radius: 2.597px;
}
.number-4 {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.813px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 19;
}
.weeks-5 {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 20;
}
.rectangle-6 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 18;
  border-radius: 2.597px;
}
.group-7 {
  flex-shrink: 0;
  position: relative;
  width: 29px;
  height: 24.672px;
  z-index: 21;
  border-radius: 2.597px;
}
.group-8 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 5.22%;
  font-size: 0px;
  z-index: 22;
  border-radius: 2.597px;
}
.number-9 {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.814px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 24;
}
.weeks-a {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 25;
}
.rectangle-b {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 23;
  border-radius: 2.597px;
}
.group-c {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 26;
  border-radius: 2.597px;
}
.number-d {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.813px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 28;
}
.weeks-e {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 29;
}
.rectangle-f {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 27;
  border-radius: 2.597px;
}
.group-10 {
  flex-shrink: 0;
  position: relative;
  width: 29px;
  height: 24.672px;
  z-index: 30;
  border-radius: 2.597px;
}
.group-11 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 5.22%;
  font-size: 0px;
  z-index: 31;
  border-radius: 2.597px;
}
.number-12 {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.814px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 33;
}
.weeks-13 {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 34;
}
.rectangle-14 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 32;
  border-radius: 2.597px;
}
.group-15 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 35;
  border-radius: 2.597px;
}
.span {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.813px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 37;
}
.span-weeks {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 38;
}
.rectangle-16 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 36;
  border-radius: 2.597px;
}
.group-17 {
  flex-shrink: 0;
  position: relative;
  width: 29px;
  height: 24.672px;
  z-index: 39;
  border-radius: 2.597px;
}
.group-18 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 5.22%;
  font-size: 0px;
  z-index: 40;
  border-radius: 2.597px;
}
.span-19 {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.814px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 42;
}
.span-weeks-1a {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 43;
}
.rectangle-1b {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 41;
  border-radius: 2.597px;
}
.group-1c {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 44;
  border-radius: 2.597px;
}
.span-1d {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.813px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 46;
}
.span-weeks-1e {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 47;
}
.rectangle-1f {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 45;
  border-radius: 2.597px;
}
.group-20 {
  flex-shrink: 0;
  position: relative;
  width: 29px;
  height: 24.672px;
  z-index: 48;
  border-radius: 2.597px;
}
.group-21 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 5.22%;
  font-size: 0px;
  z-index: 49;
  border-radius: 2.597px;
}
.span-22 {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.814px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 51;
}
.span-weeks-23 {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 52;
}
.rectangle-24 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 50;
  border-radius: 2.597px;
}
.group-25 {
  position: absolute;
  width: 94.78%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 53;
  border-radius: 2.597px;
}
.span-26 {
  display: block;
  position: relative;
  height: 17px;
  margin: 3.679px 0 0 2.813px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.12718391418457px;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.42px;
  z-index: 55;
}
.span-weeks-27 {
  display: block;
  position: relative;
  height: 5px;
  margin: -3.365px 0 0 7.791px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 3.7857718467712402px;
  font-weight: 700;
  line-height: 5px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.13px;
  z-index: 56;
}
.rectangle-28 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 54;
  border-radius: 2.597px;
}
.meet-the-speakers {
  position: relative;
  width: 171px;
  height: 70px;
  margin: 1800.328px 0 0 12px;
  font-family: Inter, var(--default-font-family);
  font-size: 23.868305206298828px;
  font-weight: 700;
  line-height: 34.609px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  letter-spacing: -0.84px;
  z-index: 66;
}
.meet {
  position: relative;
  color: #12c3ae;
  font-family: Inter, var(--default-font-family);
  font-size: 23.868305206298828px;
  font-weight: 700;
  line-height: 34.609px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.84px;
}
.the-speakers {
  position: relative;
  color: #010908;
  font-family: Inter, var(--default-font-family);
  font-size: 23.868305206298828px;
  font-weight: 700;
  line-height: 34.609px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.84px;
}
.flex-row-bf {
  position: absolute;
  width: 26.46%;
  height: 20.02%;
  top: 10.45%;
  left: -0.54%;
  z-index: 64;
}
.psychology-hero-x-removebg-preview {
  position: absolute;
  width: 318px;
  height: 220.355px;
  top: 0;
  left: 224px;
  background: url(./assets/images/5a101cda-25bb-426b-bae1-8265e739f268.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.ellipse-29 {
  position: absolute;
  width: 22.14%;
  height: 25.85%;
  top: 7.8%;
  left: 50.18%;
  background: url(./assets/images/b7d27a72-13bc-499d-a3a3-dd0eca021f49.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 63;
}
.inspire-students {
  position: absolute;
  width: 39.9%;
  height: 14.63%;
  top: 12.44%;
  left: 4.43%;
  font-family: Inter, var(--default-font-family);
  font-size: 12.220882415771484px;
  font-weight: 700;
  line-height: 19.553px;
  text-align: left;
  letter-spacing: -0.43px;
  z-index: 57;
}
.inspire-students-power {
  position: relative;
  color: #010908;
  font-family: Inter, var(--default-font-family);
  font-size: 12.220882415771484px;
  font-weight: 700;
  line-height: 19.553px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.43px;
}
.science-technology-culture {
  position: relative;
  color: #2cbbaa;
  font-family: Inter, var(--default-font-family);
  font-size: 12.220882415771484px;
  font-weight: 700;
  line-height: 19.553px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.43px;
}
.rectangle-2a {
  position: absolute;
  width: 66.05%;
  height: 57.56%;
  top: 42.44%;
  left: 0;
  background: url(./assets/images/33142296685cf191c6a5a4c04c5e20af23b65adb.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
  border-radius: 9.297px;
}
.flex-row-b {
  position: absolute;
  width: 20.37%;
  height: 65.88%;
  top: 26.6%;
  left: -1.37%;
  z-index: 68;
}
.rectangle-2b {
  position: absolute;
  width: 95.92%;
  height: 38.93%;
  top: 0;
  left: 4.08%;
  background: #2cbbaa;
  z-index: 58;
}
.whatsapp-image-2c {
  position: absolute;
  width: 17.99%;
  height: 5.65%;
  top: 7.2%;
  left: 35.72%;
  background: url(./assets/images/8c72b05b-e4c4-437e-a4a5-55b3e3599afa.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 59;
}
.participants-competitions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 309px;
  height: 4.74%;
  top: 13.73%;
  left: 8.87%;
  color: #0a0000;
  font-family: Judson, var(--default-font-family);
  font-size: 11.365293502807617px;
  font-weight: 700;
  line-height: 16.084px;
  text-align: left;
  letter-spacing: -0.4px;
  z-index: 61;
}
.expert-talks-presentation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 311px;
  height: 4.45%;
  top: 19.21%;
  left: 8.39%;
  color: #0a0000;
  font-family: Judson, var(--default-font-family);
  font-size: 10.617034912109375px;
  font-weight: 700;
  line-height: 15.026px;
  text-align: left;
  letter-spacing: -0.37px;
  z-index: 60;
}
.interact-industry-professionals {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 323px;
  height: 5.04%;
  top: 24.32%;
  left: 8.87%;
  color: #0a0000;
  font-family: Judson, var(--default-font-family);
  font-size: 11.880226135253906px;
  font-weight: 700;
  line-height: 16.813px;
  text-align: left;
  letter-spacing: -0.42px;
  z-index: 62;
}
.importance-education-technology {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 291px;
  height: 2.32%;
  top: 31.59%;
  left: 12.71%;
  color: #000d0b;
  font-family: PT Sans, var(--default-font-family);
  font-size: 11.58117961883545px;
  font-weight: 700;
  line-height: 17.024px;
  text-align: center;
  text-overflow: initial;
  text-transform: uppercase;
  letter-spacing: -0.41px;
  z-index: 65;
  overflow: hidden;
}
.group-2d {
  position: absolute;
  width: 90.39%;
  height: 37.62%;
  top: 33.81%;
  left: 0;
  background: url(./assets/images/c9b05f78-4594-4606-82d6-b00267bf3b7b.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 67;
}
.group-2e {
  position: absolute;
  width: 208px;
  height: 818px;
  top: 531.188px;
  left: 103px;
  font-size: 0px;
  z-index: 68;
}
.plus-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 44px;
  height: 80px;
  margin: 85px 0 0 70px;
  color: #000d0b;
  font-family: Imbue, var(--default-font-family);
  font-size: 54.28663635253906px;
  font-weight: 900;
  line-height: 79.801px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -1.9px;
  z-index: 69;
}
.group-2f {
  position: absolute;
  width: 208px;
  height: 818px;
  top: 0;
  left: 0;
  font-size: 0px;
  z-index: 70;
}
.visionary-speakers {
  display: block;
  position: relative;
  height: 19px;
  margin: 149px 0 0 37px;
  color: #0a0000;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 13.319138526916504px;
  font-weight: 600;
  line-height: 18.85px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.53px;
  z-index: 71;
}
.group-30 {
  position: absolute;
  width: 208px;
  height: 818px;
  top: 0;
  left: 0;
  z-index: 72;
}
.group-31 {
  position: relative;
  width: 87px;
  height: 100.059px;
  margin: 0 0 0 50px;
  background: url(./assets/images/f2a229a4-c19e-4502-81de-cc43abd4a5ce.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 73;
}
.group-32 {
  position: relative;
  width: 208px;
  height: 627px;
  margin: 90.941px 0 0 0;
  z-index: 74;
  overflow: visible auto;
}
.images-removebg-preview {
  position: relative;
  width: 190px;
  height: 103px;
  margin: 0 0 0 0;
  background: url(./assets/images/c08a2d11d415069439397a915eb1cc438e1f2c5e.png)
    no-repeat center;
  background-size: cover;
  z-index: 75;
}
.vector-33 {
  position: relative;
  width: 111px;
  height: 111px;
  margin: 98px 0 0 44px;
  background: url(./assets/images/5781d2ad-097c-497e-b28e-c77a6a7fae9a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 76;
}
.image-removebg-preview {
  position: relative;
  width: 141px;
  height: 135px;
  margin: 93px 0 0 29px;
  background: url(./assets/images/c1669acc-2e7f-4d95-9e4d-a9a4b3d48130.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 77;
}
.number-12-34 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 19.23%;
  height: 13.72%;
  top: 14.99%;
  left: 38.94%;
  color: #000d0b;
  font-family: Imbue, var(--default-font-family);
  font-size: 58.56394577026367px;
  font-weight: 800;
  line-height: 86px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -2.05px;
  z-index: 81;
}
.worldwide-brands {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 3.35%;
  top: 26%;
  left: 17.79%;
  color: #0a0000;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 14.504541397094727px;
  font-weight: 600;
  line-height: 20.527px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.58px;
  z-index: 78;
}
.plus-8 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 24.04%;
  height: 14.04%;
  top: 48.64%;
  left: 39.9%;
  color: #000d0b;
  font-family: Imbue, var(--default-font-family);
  font-size: 60.144412994384766px;
  font-weight: 900;
  line-height: 88px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -2.11px;
  z-index: 82;
}
.sessions-workshops {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 3.99%;
  top: 60.61%;
  left: 5.77%;
  color: #0a0000;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 17.581262588500977px;
  font-weight: 600;
  line-height: 24.881px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.7px;
  z-index: 79;
}
.plus-500 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 39.42%;
  height: 11.48%;
  top: 86.6%;
  left: 32.21%;
  color: #000d0b;
  font-family: Imbue, var(--default-font-family);
  font-size: 49.0749397277832px;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -1.72px;
  z-index: 83;
}
.event-participants {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 3.99%;
  top: 96.01%;
  left: 13.94%;
  color: #0a0000;
  font-family: Playfair Display, var(--default-font-family);
  font-size: 17.581262588500977px;
  font-weight: 600;
  line-height: 24.881px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.7px;
  z-index: 80;
}
.psychology-hero-x-removebg-preview-35 {
  position: absolute;
  width: 15.76%;
  height: 47.51%;
  top: 48.42%;
  left: 7.27%;
  background: url(./assets/images/0ac677b3-cc98-47a6-b930-6a04fcaeb0f9.png)
    no-repeat center;
  background-size: 100% 100%;
}
.rectangle-36 {
  position: absolute;
  width: 249px;
  height: 319.526px;
  top: 2077px;
  left: 56px;
  font-size: 0px;
  background: url(./assets/images/24d1d8af9e406b682bf83ccd5242ba12f2902c15.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  border-radius: 15.113px;
}
.michael-okwegada {
  display: block;
  position: relative;
  height: 32px;
  margin: 269px 0 0 11px;
  color: #fdfffe;
  font-family: Inter, var(--default-font-family);
  font-size: 21.82366371154785px;
  font-weight: 900;
  line-height: 31.644px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.76px;
  z-index: 92;
}
.founder-code-game {
  display: block;
  position: relative;
  height: 18px;
  margin: -4.07px 0 0 19.82px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.922506332397461px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.52px;
  z-index: 88;
}
.rectangle-37 {
  position: relative;
  width: 257.941px;
  height: 331px;
  margin: 75.474px 0 0 67px;
  font-size: 0px;
  background: url(./assets/images/fa80e2735a6fd12fd21b3e6883d8c253ff1bcd04.png)
    no-repeat center;
  background-size: cover;
  z-index: 93;
  overflow: visible auto;
  border-radius: 15.655px;
}
.michael-okwegada-38 {
  display: block;
  position: relative;
  height: 32px;
  margin: 270px 0 0 13px;
  color: #fdfffe;
  font-family: Inter, var(--default-font-family);
  font-size: 21.82366371154785px;
  font-weight: 900;
  line-height: 31.644px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.76px;
  z-index: 93;
}
.founder-code-game-39 {
  display: block;
  position: relative;
  height: 18px;
  margin: -4.07px 0 0 21.82px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.922506332397461px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.52px;
  z-index: 89;
}
.rectangle-3a {
  position: relative;
  width: 271px;
  height: 347.757px;
  margin: 75px 0 0 68px;
  font-size: 0px;
  background: url(./assets/images/0e4efa9835080dccc44c254f03c1f7b95324d7b5.png)
    no-repeat center;
  background-size: cover;
  z-index: 94;
  overflow: visible auto;
  border-radius: 16.448px;
}
.michael-okwegada-3b {
  display: block;
  position: relative;
  height: 32px;
  margin: 294px 0 0 6px;
  color: #fdfffe;
  font-family: Inter, var(--default-font-family);
  font-size: 21.82366371154785px;
  font-weight: 900;
  line-height: 31.644px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.76px;
  z-index: 94;
}
.founder-code-game-3c {
  display: block;
  position: relative;
  height: 18px;
  margin: -4.07px 0 0 14.82px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.922506332397461px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.52px;
  z-index: 90;
}
.rectangle-3d {
  position: relative;
  width: 249px;
  height: 319.526px;
  margin: 38.243px 0 0 76px;
  font-size: 0px;
  background: url(./assets/images/24d1d8af9e406b682bf83ccd5242ba12f2902c15.png)
    no-repeat center;
  background-size: cover;
  z-index: 95;
  overflow: visible auto;
  border-radius: 15.113px;
}
.michael-okwegada-3e {
  display: block;
  position: relative;
  height: 32px;
  margin: 266px 0 0 7px;
  color: #fdfffe;
  font-family: Inter, var(--default-font-family);
  font-size: 21.82366371154785px;
  font-weight: 900;
  line-height: 31.644px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.76px;
  z-index: 95;
}
.founder-code-game-3f {
  display: block;
  position: relative;
  height: 18px;
  margin: -4.07px 0 0 15.82px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 12.922506332397461px;
  font-weight: 900;
  line-height: 18px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.52px;
  z-index: 91;
}
.shift-digital-literacy {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 142.972px;
  height: 72px;
  margin: 142.474px 0 0 232px;
  color: #fbfffe;
  font-family: Roboto, var(--default-font-family);
  font-size: 16.39972496032715px;
  font-weight: 900;
  line-height: 24.108px;
  text-align: left;
  text-overflow: initial;
  text-transform: uppercase;
  letter-spacing: -0.57px;
  z-index: 108;
  overflow: hidden;
}
.event-details-40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 132px;
  height: 33px;
  margin: 1.311px 0 0 232px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 7.694082260131836px;
  font-weight: 700;
  line-height: 10.889px;
  text-align: left;
  letter-spacing: -0.27px;
  z-index: 109;
}
.wanna-event-sponser {
  position: relative;
  width: 240.859px;
  height: 38px;
  margin: 28.689px 0 0 19px;
  background: #2ed6c2;
  z-index: 106;
}
.text-34 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 171.384px;
  height: 24px;
  top: 6.908px;
  left: 13.051px;
  color: #000d0b;
  font-family: Roboto, var(--default-font-family);
  font-size: 10.837971687316895px;
  font-weight: 800;
  line-height: 11.705px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.38px;
  z-index: 106;
}
.frame {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15.144px;
  position: relative;
  width: 327.026px;
  margin: 25px 0 0 21px;
  z-index: 97;
}
.sponsored-by {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 11px;
  color: #000d0b;
  font-family: Roboto, var(--default-font-family);
  font-size: 10.190779685974121px;
  font-weight: 800;
  line-height: 11px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.36px;
  z-index: 98;
}
.rectangle-41 {
  flex-shrink: 0;
  position: relative;
  width: 28.574px;
  height: 28.574px;
  background: url(./assets/images/de10a14f14caa3d56ef43ac2be2083a139d34d5d.png)
    no-repeat center;
  background-size: cover;
  z-index: 99;
}
.rectangle-42 {
  flex-shrink: 0;
  position: relative;
  width: 22.288px;
  height: 22.288px;
  background: url(./assets/images/c72d4e3225254593dd16edbb44128fcb001f189b.png)
    no-repeat center;
  background-size: cover;
  z-index: 100;
}
.rectangle-43 {
  flex-shrink: 0;
  position: relative;
  width: 28.574px;
  height: 28.574px;
  background: url(./assets/images/1d6799da2bba4db077c6fbf33fa3a77ba398a88e.png)
    no-repeat center;
  background-size: cover;
  z-index: 101;
}
.rectangle-44 {
  flex-shrink: 0;
  position: relative;
  width: 28.574px;
  height: 28.574px;
  background: url(./assets/images/b216ecd412bbfd6384613bd4920a250aaaeb466c.png)
    no-repeat center;
  background-size: cover;
  z-index: 102;
}
.rectangle-45 {
  flex-shrink: 0;
  position: relative;
  width: 28.574px;
  height: 28.574px;
  background: url(./assets/images/1df80464563dd61eb363f9d47c637e149fe61a85.png)
    no-repeat center;
  background-size: cover;
  z-index: 103;
}
.rectangle-46 {
  flex-shrink: 0;
  position: relative;
  width: 28.574px;
  height: 28.574px;
  background: url(./assets/images/9fb68278a72ad9167840ded0cfa9239d33744187.png)
    no-repeat center;
  background-size: cover;
  z-index: 104;
}
.flex-row-d {
  position: relative;
  width: 338.798px;
  height: 105.601px;
  margin: 81.426px 0 0 32px;
  z-index: 159;
}
.rectangle-47 {
  position: absolute;
  width: 87.798px;
  height: 100px;
  top: 0;
  left: 251px;
  font-size: 0px;
  border: 1.326px solid #1dc794;
  z-index: 159;
  border-radius: 9.549px;
}
.all-event-pass {
  display: block;
  position: relative;
  height: 11px;
  margin: 9.781px 0 0 7.949px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 9.735013961791992px;
  font-weight: 900;
  line-height: 10.514px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.34px;
  z-index: 110;
}
.dollar {
  display: block;
  position: relative;
  height: 23px;
  margin: 2.545px 0 0 16px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 21.539588928222656px;
  font-weight: 900;
  line-height: 23px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.75px;
  z-index: 165;
}
.workshops-sessions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 67px;
  height: 28px;
  margin: 1.326px 0 0 8px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 5.161036968231201px;
  font-weight: 900;
  line-height: 7.174px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.18px;
  z-index: 111;
}
.rectangle-48 {
  position: relative;
  width: 56px;
  height: 12.997px;
  margin: 6.326px 0 0 16px;
  background: #2bbbaa;
  z-index: 161;
  border-radius: 4px;
}
.get-a-seat {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 10.703px;
  top: 1.412px;
  left: 9.042px;
  color: #fefcfc;
  font-family: Inter, var(--default-font-family);
  font-size: 7.0948710441589355px;
  font-weight: 700;
  line-height: 10.041px;
  text-align: left;
  text-decoration: underline;
  white-space: nowrap;
  letter-spacing: -0.5px;
  z-index: 162;
}
.get-your-seat {
  position: absolute;
  width: 100.361px;
  height: 40px;
  top: 1px;
  left: 0;
  font-family: Inter, var(--default-font-family);
  font-size: 17.921100616455078px;
  font-weight: 700;
  line-height: 20.43px;
  text-align: left;
  letter-spacing: -0.63px;
  z-index: 112;
}
.get-your-seat-49 {
  position: relative;
  color: #2cbbaa;
  font-family: Inter, var(--default-font-family);
  font-size: 17.921100616455078px;
  font-weight: 700;
  line-height: 20.43px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.63px;
}
.your-seat {
  position: relative;
  color: #fbfffe;
  font-family: Inter, var(--default-font-family);
  font-size: 17.921100616455078px;
  font-weight: 700;
  line-height: 20.43px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.63px;
}
.event-details-4a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 88px;
  height: 21px;
  top: 41.416px;
  left: 4.611px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 5.116697788238525px;
  font-weight: 700;
  line-height: 7.241px;
  text-align: left;
  text-overflow: initial;
  letter-spacing: -0.18px;
  z-index: 113;
  overflow: hidden;
}
.rectangle-4b {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 0;
  background: rgba(0, 0, 0, 0.52);
  z-index: 120;
  border-radius: 3.326px;
}
.flex-row-ec {
  position: relative;
  width: 29.941px;
  height: 22px;
  margin: 4.713px 0 0 3.604px;
  z-index: 121;
}
.number-4c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 121;
}
.number-4d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 1.941px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 117;
}
.flex-row-dae {
  position: relative;
  width: 17.94px;
  height: 7px;
  margin: -4.535px 0 0 9.979px;
  z-index: 122;
}
.weeks-4e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 122;
}
.weeks-4f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 1.94px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 118;
}
.rectangle-50 {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 1.94px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 116;
  border-radius: 3.326px;
}
.rectangle-51 {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 44.629px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 129;
  border-radius: 3.326px;
}
.flex-row-b-52 {
  position: relative;
  width: 29.94px;
  height: 22px;
  margin: 4.713px 0 0 3.604px;
  z-index: 130;
}
.number-53 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 130;
}
.number-54 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 1.94px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 126;
}
.flex-row-ca {
  position: relative;
  width: 12.832px;
  height: 7px;
  margin: -4.535px 0 0 9.979px;
  z-index: 131;
}
.days {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 131;
}
.days-55 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0.83px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 127;
}
.rectangle-56 {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 46.57px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 125;
  border-radius: 3.326px;
}
.rectangle-57 {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 89.259px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 138;
  border-radius: 3.326px;
}
.flex-row-ef-58 {
  position: relative;
  width: 29.94px;
  height: 22px;
  margin: 4.713px 0 0 3.604px;
  z-index: 139;
}
.span-59 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 139;
}
.span-5a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 1.94px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 135;
}
.flex-row-e {
  position: relative;
  width: 14.554px;
  height: 7px;
  margin: -4.535px 0 0 9.979px;
  z-index: 140;
}
.span-hours {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 140;
}
.span-hours-5b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0.55px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 136;
}
.rectangle-5c {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 91.2px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 134;
  border-radius: 3.326px;
}
.rectangle-5d {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 133.888px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 147;
  border-radius: 3.326px;
}
.flex-row-f {
  position: relative;
  width: 29.94px;
  height: 22px;
  margin: 4.713px 0 0 3.604px;
  z-index: 148;
}
.span-5e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 148;
}
.span-5f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 1.94px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 144;
}
.flex-row-c {
  position: relative;
  width: 19.555px;
  height: 7px;
  margin: -4.535px 0 0 9.979px;
  z-index: 149;
}
.span-minutes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 149;
}
.span-minutes-60 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0.55px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 145;
}
.rectangle-61 {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 135.829px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 143;
  border-radius: 3.326px;
}
.rectangle-62 {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 176.855px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 156;
  border-radius: 3.326px;
}
.flex-row-ee {
  position: relative;
  width: 29.94px;
  height: 22px;
  margin: 4.713px 0 0 3.604px;
  z-index: 157;
}
.span-63 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 157;
}
.span-64 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 1.94px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15.533275604248047px;
  font-weight: 700;
  line-height: 21.983px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.54px;
  z-index: 153;
}
.flex-row-eeb {
  position: relative;
  width: 20.554px;
  height: 7px;
  margin: -4.535px 0 0 7.207px;
  z-index: 158;
}
.span-seconds {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 158;
}
.span-seconds-65 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 7px;
  top: 0;
  left: 0.55px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 4.849059581756592px;
  font-weight: 700;
  line-height: 6.863px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.17px;
  z-index: 154;
}
.rectangle-66 {
  position: absolute;
  width: 35.205px;
  height: 31.601px;
  top: 74px;
  left: 178.795px;
  background: rgba(0, 0, 0, 0.52);
  z-index: 152;
  border-radius: 3.326px;
}
.rectangle-67 {
  position: relative;
  width: 258px;
  height: 36.759px;
  margin: 13.399px 0 0 14px;
  background: #2ed6c2;
  z-index: 164;
}
.dont-wait-get-tickets-now {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 11.258px;
  left: 31.475px;
  color: #000d0b;
  font-family: Roboto, var(--default-font-family);
  font-size: 12.973871231079102px;
  font-weight: 800;
  line-height: 14px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: -0.45px;
  z-index: 164;
}
.rectangle-68 {
  position: absolute;
  width: 362.324px;
  height: 198.711px;
  top: 3652px;
  left: 0;
  background: url(./assets/images/b86f50fb-0483-4b3e-b669-e1246a38b45f.png)
    no-repeat center;
  background-size: cover;
  z-index: 107;
}
.rectangle-69 {
  position: absolute;
  width: 360px;
  height: 178px;
  top: 3996px;
  left: -1px;
  background: url(./assets/images/c8cc73ce-10da-492c-b080-c8b79d4d8dfc.png)
    no-repeat center;
  background-size: cover;
}
.group-6a {
  position: absolute;
  width: 99.93%;
  height: 61.06%;
  top: 97.99%;
  left: 0;
  background: url(./assets/images/5198e527-51c5-4565-9189-845e51030d3c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
.whatsapp-image-6b {
  position: absolute;
  width: 29.069px;
  height: 28.778px;
  top: 34.148px;
  left: 50px;
  background: url(./assets/images/c72d4e3225254593dd16edbb44128fcb001f189b.png)
    no-repeat center;
  background-size: cover;
  z-index: 172;
}
.great-minds-in-tech-foundation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 44.766px;
  height: 16px;
  top: 46.066px;
  left: 75.871px;
  color: #e95959;
  font-family: Inter, var(--default-font-family);
  font-size: 5.483398914337158px;
  font-weight: 800;
  line-height: 7.76px;
  text-align: left;
  letter-spacing: -0.19px;
  z-index: 173;
}
.vector-6c {
  position: absolute;
  width: 9.302px;
  height: 9.302px;
  top: 51.148px;
  left: 197px;
  background: url(./assets/images/e50020df-d51f-42d3-9a64-d3741c4b4363.png)
    no-repeat center;
  background-size: cover;
  z-index: 167;
}
.vector-6d {
  position: absolute;
  width: 9.302px;
  height: 9.302px;
  top: 51.148px;
  left: 230.429px;
  background: url(./assets/images/b2781c48-cba3-432b-abc7-fc4815c58930.png)
    no-repeat center;
  background-size: cover;
  z-index: 168;
}
.vector-6e {
  position: absolute;
  width: 7.558px;
  height: 8.139px;
  top: 51.729px;
  left: 212.406px;
  background: url(./assets/images/42d3ef0d-e7c7-49b0-91c2-8413050b2d17.png)
    no-repeat center;
  background-size: cover;
  z-index: 169;
}
.great-minds-in-tech-foundation-6f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 52.602px;
  left: 243.801px;
  color: #140202;
  font-family: Inter, var(--default-font-family);
  font-size: 5.483398914337158px;
  font-weight: 500;
  line-height: 7.76px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.19px;
  z-index: 166;
}
.rectangle-70 {
  position: absolute;
  width: 80.22px;
  height: 85.429px;
  top: 4211px;
  left: -23.494px;
  background: url(./assets/images/c7a380e7-e12a-4942-b032-20d2f960d094.png)
    no-repeat center;
  background-size: cover;
  z-index: 176;
}
.rectangle-71 {
  position: absolute;
  width: 80.22px;
  height: 85.429px;
  top: 4215.896px;
  left: -34.096px;
  background: url(./assets/images/ec7b3ea9-d856-429f-8937-bf3e7129f7b5.png)
    no-repeat center;
  background-size: cover;
  z-index: 175;
}
.rectangle-72 {
  position: absolute;
  width: 60.115px;
  height: 61.944px;
  top: 4241.056px;
  left: -36px;
  background: url(./assets/images/b3d30fdb-4681-4a8a-a993-382d9ebc8a57.png)
    no-repeat center;
  background-size: cover;
  z-index: 174;
}
